<%= form_tag sessions_path, method: :post do %>
<div style="margin: 0 auto; width: 500px; height: 500px;">
  <table style="margin: 200px auto" class="table table-striped table-bordered table-hover table-condensed" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="25%" height="25">id</td>
      <td width="48%" valign="top">
        <label>
        <input name="txtName" type="text" class="txt" size="25" />
        </label>
        <br />
      </td>
      <td width="27%" rowspan="2">
        <button><img src="<%= asset_path 'login_2.gif' %>" width="57" height="55" border="0" /></button> 
      </td>
    </tr>
    <tr>
      <td>password</td>
      <td>
        <input name="txtPwd" type="password" class="txt" size="25" />
      </td>
    </tr>
  </table>
</div>
  <% end %>